thead td {
  font-weight: bold;
}
td.centered {
  text-align: center;
}
.container {
  padding-left: 35px;
  padding-right: 35px;
}
#main .grp-gravatar {
  height: 100;
  width: 100;
  float: left;
  border-radius: 5px;
}
