<% include partials/header %>

  <div id="room">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a href="/main" class="btn btn-sm btn-default" title="Back to list"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <span class="grp-room-name"><%= room.name %></span>
    </div>

    <div class="body">

    </div>

    <div class="compose">
      <div class="input-group">
        <input type="text" class="form-control" name="message" placeholder="Type message...">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit">Send</button>
        </span>
      </div>
    </div>
  </div>

<% include partials/footer %>
